/*CART PAGE*/
.cart__content {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item__added {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 129px;
}

.item__added__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* width: 652px;
        height: 306px;*/
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  margin-top: 40px;
}

.item__added__information {
  margin-left: 31px;
  margin-top: 22px;
}

.item__added__x {
  margin-left: 105px;
  margin-top: 22px;
  cursor: pointer;
}

.item__added h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  width: 211px;
  color: #222222;
  margin-bottom: 42px;
}

.item__added p {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 6px;
  color: #575757;
}

.item__added form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__added form input {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-left: 25px;
  padding-left: 13px;
  border: 1px solid #EAEAEA;
  width: 43px;
  text-align: center;
  color: #656565;
}

.item__added__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 652px;
  margin-top: 73px;
}

.item__added__buttons button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Lato', sans-serif;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  color: #000000;
  cursor: pointer;
  background-color: #FFFFFF;
}

.cart__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  margin-top: 57px;
}

.cart__information fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  margin-bottom: 57px;
}

.cart__information fieldset button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  width: 100px;
  font-family: 'Lato', sans-serif;
  color: #4A4A4A;
  padding-top: 13px;
  padding-bottom: 16px;
  border: 1px solid #A4A4A4;
  background: #FFFFFF;
  cursor: pointer;
}

.cart__information__column {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: 'Lato', sans-serif;
  color: #B1B1B1;
  margin-bottom: 22px;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 16px;
  border: 1px solid #A4A4A4;
}

.cart__information legend {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  border: none;
  padding-left: 0px;
}

.cart__information__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 133px;
  background: #F5F3F3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 39px;
  padding-bottom: 42px;
}

.cart__information__total__price {
  width: 275px;
  border-bottom: 1px solid  #E2E2E2;
}

.cart__information__total__price .sub__total {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #4A4A4A;
  margin-bottom: 12px;
}

.cart__information__total__price .grand__total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 21px;
  text-align: right;
}

.cart__information__total button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", sans-serif;
  margin-top: 17px;
  width: 273px;
  padding: 16px 41px;
  background: #F16D7F;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}


/*REGISTRATION PAGE*/
.content__registration {
  margin-top: 64px;
  margin-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__registration fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  width: 360px;
  margin-bottom: 33px;
}

.content__registration fieldset legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  font-family: Lato;
  color: #222222;
  border: none;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
}

.content__registration fieldset input {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  font-family: Lato;
  color: #B1B1B1;
  margin-bottom: 22px;
  padding-top: 13px;
  padding-left: 17px;
  padding-bottom: 16px;
  border: 1px solid #A4A4A4;
}

.content__registration fieldset .gender {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  color: #000000;
}

.content__registration fieldset .gender input {
  margin-right: 10px;
  margin-bottom: 0px;
}

.content__registration fieldset .gender--left {
  margin-left: 20px;
}

.content__registration fieldset p {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  width: 360px;
  font-family: Lato;
  color: #B1B1B1;
}

.content__registration button {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background: #F16D7F;
  padding: 16px 29px;
  border: none;
  font-family: Lato;
  color: #FFFFFF;
  cursor: pointer;
}

.content__registration button img {
  padding-left: 20px;
}

.content__registration .loyality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  width: 652px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #000000;
}

.content__registration .loyality h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 22px;
}

.content__registration .loyality__paragraph {
  margin-bottom: 21px;
}

.content__registration .loyality__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.content__registration .loyality__logo {
  padding-right: 23px;
}

/*Burger menu*/
.nav-burger {
  width: 100%;
  overflow: hidden;
}

.nav-burger-menu {
  display: none;
  margin: 0;
  padding: 1%;
  list-style: none;
  background: #cacaca;
  width: 232px;
  background-color: #fff;
  height: 764px;
  padding: 35px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.nav-burger .toggle {
  display: none;
}

.nav-burger .burger {
  padding: 5px;
  cursor: pointer;
}

.nav-burger .toggle + .nav-burger-menu a {
  color: #6F6E6E;
}

.nav-burger .toggle:checked + .nav-burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  color: #6F6E6E;
}

.nav__wrap {
  position: relative;
}

.nav__wrap h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-bottom: 24px;
}

.nav__wrap h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  padding-bottom: 12px;
}

.nav__close {
  position: absolute;
  right: -58px;
  top: -10px;
  cursor: pointer;
}

.nav__list {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  color: #6F6E6E;
  padding-bottom: 20px;
}

.nav__item {
  padding-bottom: 11px;
  padding-left: 21px;
}

.header__nav {
  position: absolute;
  top: 77px;
  right: 0;
  z-index: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*CATALOG SIZE FILTER*/
.filter__drop {
  position: relative;
}

.filter__drop__titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter__drop fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  position: absolute;
  margin-left: 20px;
  padding-left: 10px;
  padding-bottom: 11px;
  border: none;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 69px;
  background-color: #FFFFFF;
}

.filter__drop fieldset label {
  padding-top: 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.filter__drop fieldset label input {
  margin-right: 10px;
}

.filter__drop fieldset label input:hover {
  cursor: pointer;
}

.filter__drop fieldset label:hover {
  cursor: pointer;
}

.filter__drop:hover .filter__fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.filter__drop__titel:hover {
  cursor: pointer;
}

/*INDEX.HTML BUTTON ANIMATION*/
.product__button__link {
  -webkit-transition: cubic-bezier(0.21, 0.91, 0.95, 0.1) all 3s;
  transition: cubic-bezier(0.21, 0.91, 0.95, 0.1) all 3s;
}

.product__button__link:hover {
  -webkit-transform: scale(1.5) rotate(720deg);
          transform: scale(1.5) rotate(720deg);
  background-color: #F16D7F;
  border-radius: 40px;
}

.button__text:hover {
  color: #FFFFFF;
  border: none;
}

@media (max-width: 1100px) {
  .advantage {
    height: 610px;
    margin-top: 65px;
  }
  .services-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*justify-content: center;*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .new__arrivals {
    margin-left: 16px;
    margin-right: 16px;
  }
  .filter__left {
    margin-left: 16px;
  }
  .filter__right {
    padding-right: 16px;
    margin: 0;
  }
  .last__product {
    display: none;
  }
  .cart__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__added {
    margin-bottom: 0px;
  }
  .item__added__card {
    width: 100%;
  }
  .item__added__buttons {
    width: 100%;
  }
  .cart__information {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cart__information fieldset {
    width: 360px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .cart__information__total {
    margin-top: 70px;
    margin-left: 15px;
  }
  .cart__information__total__price {
    width: 360px;
  }
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .product__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .margin__top {
    margin-top: 0px;
  }
  .product:nth-child(odd) {
    margin-right: 20px;
  }
  .product {
    margin-bottom: 17px;
  }
  .content__registration {
    margin-top: 40px;
  }
  .content__registration form {
    margin-left: 16px;
  }
  .content__registration .loyality {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-left: 22px;
  }
  .content__registration .loyality h2 {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 22px;
  }
}

@media (max-width: 720px) {
  .product:nth-child(odd) {
    margin-right: 0px;
  }
}

/*@media (max-width: 734px) {

}*/
@media (max-width: 769px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .intro {
    height: 367px;
  }
  .intro__wrap {
    background-size: 50%;
    background-position: -53px bottom;
  }
  .intro__text {
    max-width: 308px;
    padding-right: 37px;
  }
  .intro h1 {
    padding-left: 16px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }
  .bold {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
  }
  .department {
    margin: 20px 17px 155px 16px;
  }
  .margin__top {
    margin-top: 0px;
  }
  .button__product {
    margin-top: 15px;
  }
  .advantage {
    margin-top: 65px;
  }
  .subscribe__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe__right {
    margin-top: 48px;
    margin-bottom: 140px;
  }
  .subscribe {
    height: 693px;
    background-position: -400px center;
  }
  .subscribe__form {
    width: 355px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main__product__information {
    margin-top: 0px;
  }
  .cart__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart__information fieldset {
    margin-bottom: 48px;
  }
  .cart__information__total {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 96px;
  }
}

@media (max-width: 625px) {
  .added__img {
    width: 100%;
  }
  .item__added {
    /*   .added__img {
            width: 143px;
       }*/
  }
  .item__added__x {
    margin-left: 54px;
    margin-top: 9px;
    width: 10px;
    height: 11px;
  }
  .item__added h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    width: 143px;
    margin-bottom: 11px;
  }
  .item__added p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 4px;
  }
  .item__added form input {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-left: 15px;
    padding-left: 8px;
    width: 23px;
  }
  .item__added__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /*width: 652px;*/
    margin-top: 73px;
  }
  .item__added__buttons button {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    padding: 9px 17px;
  }
  .item__added__information {
    margin-left: 17px;
    margin-bottom: 38px;
    margin-top: 13px;
  }
  .cart__content {
    margin-top: 0px;
  }
}

@media (max-width: 600px) {
  .chosed__product__text {
    width: auto;
  }
  .chosed__product__information {
    margin: 0 auto;
  }
  .slider__img {
    width: 100%;
  }
  .content__registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__registration .loyality {
    width: 358px;
  }
  .content__registration .loyality h2 {
    margin-top: 40px;
  }
}

@media (max-width: 420px) {
  .new__arrivals {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .catalog__title {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .nav__text {
    padding-bottom: 46px;
  }
  .span__filter {
    display: none;
  }
  .filter__svg {
    width: 37px;
    height: 25px;
  }
  .filter__text {
    padding-right: 11px;
  }
  .filter__select {
    padding-right: 9px;
  }
  .filter__select__padding__left {
    padding-left: 23px;
  }
  .content__registration form {
    margin-left: 8px;
  }
  .content__registration fieldset {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .logos {
    display: none;
  }
  .link__menu__right {
    padding-right: 0px;
  }
  .intro__wrap {
    background-image: none;
  }
  .department {
    margin-bottom: 64px;
  }
  .department__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .department__card {
    width: 100%;
    height: 250px;
    margin-bottom: 32px;
  }
  .department__card:last-child {
    height: 20vh;
    margin-bottom: 0px;
  }
  .content {
    margin-top: 0px;
  }
  .subscribe__right {
    margin-bottom: 109px;
  }
  .subscribe {
    height: 550px;
    background-position: -400px center;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .all-rights {
    height: 143px;
  }
  .paragraph__all__rights {
    margin-bottom: 9px;
  }
  .chosed__product__filter p {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    padding-top: 50px;
  }
  .chosed__product__filter img {
    padding-top: 50px;
  }
}

/*# sourceMappingURL=newstyle.css.map */