* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
body {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.header {
    background-color: #222222;
    padding: 17px 0 18px 0;
}
.menu {
    display: flex;
    justify-content: space-between;
}

.link__menu__left {
    padding-right: 41px;
}
.link__menu__right {
    padding-right: 33px;
}

.intro {
    background-color: #F1E4E6;
    height: 764px;
}
.intro__wrap {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    background-image: url(img/headerman.png);
    background-repeat: no-repeat;
    background-position: -228px bottom;
}

.intro__text {
    max-width: 377px;
    padding-right: 100px;
}
.intro__text h1 {
    padding-left: 20px;
    border-left: 12px solid #F16D7F;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
.bold {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.decor {
    color: #F16D7F;
}
.department {
    margin-top: 65px;
}
.department__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 360px;
    height: 260px;
    /*background-color: grey;*/
    margin-bottom: 30px;
}
.top__card__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.card__link {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}
.department__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.department__card:last-child {
    width: 100%;
}

.for__women {
    background-image: url(img/forwomenj.jpeg);
}
.for__men {
    background-image: url(img/formenj.jpeg);
}
.for__kids {
    background-image: url(img/forkidsj.jpeg);
}
.for__accesories {
    background-image: url(img/accesoriesj.jpeg);
}
.content {
    margin-top: 96px;
}
.third__title {
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: #222222;
}
.paragraph__content {
text-align: center;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
padding-top: 6px;
}
.product__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}
.product {
    width: 360px;
    display: flex;
    flex-direction: column;

}
.product__text {
    background-color: #F8F8F8;
    padding-left: 18px;
}
.padding__right {
    padding-right: 30px;
}
.padding__top {
    padding-top: 30px;
}
.fourth-title {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-top: 25px;
}
.paragraph__product {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 13px;
}
.product__link {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-top: 18px;
    padding-bottom: 20px;
}
.buttom__product {
   /* display: flex;
    justify-content: center;*/
    margin-top: 49px;

}
.product__buttom {
    font-size: 16px;
    line-height: 19px;
    padding: 15px 39px 14px 39px;
    color: #F26376;
    width: 211px;
    
    border: 1px solid #FF6A6A;
    text-align: center;
    margin: 0 auto;
}
.product__buttom__link {
    text-align: center;
}